<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Status Stream</title>
</head>
<body>
  <h1>Enter Prompt</h1>
  <form id="promptForm" method="POST">
    <input type="text" name="prompt" required>
    <button id="button">Submit</button>
  </form>

  <h1 id = "statusHeader">Status Updates</h1>
  <ul id="logContainer"></ul>

  <script>
    const ul = document.getElementById("logContainer");
    const evtSource = new EventSource("/status_stream");

    let running_state = false;

    function showProcessing(){
      console.log(running_state);
      console.log(statusHeader);
      statusHeader = document.getElementById("statusHeader");
      if (running_state === true){
        console.log("Adding processing element.");
        h = document.createElement("h2");
        h.textContent = "Processing:" + document.getElementById("promptForm").textContent;
        statusHeader.appendChild(h);
      } else {
        if (statusHeader.children.length > 0){
          statusHeader.removeChild(statusHeader.children[0]);
        }
      }
      
    }

    evtSource.onmessage = function(event) {
      console.log("<Receiving event>");
      showProcessing();
      try {
        const logEntry = JSON.parse(event.data);
        const message = logEntry.message;
        const type = logEntry.type;
        if (message === "Done"){
          running_state = false;
          showProcessing()
          return
        }
        console.log(message)
        const li = document.createElement("li");
        li.textContent = message;

        if (type === "italic") {
          console.log("Making italics...")
          li.style.fontStyle = "italic";
        }
        ul.appendChild(li);

        
      } catch(e) {
        console.error("Failed to parse SSE data:", event.data, e);
      }
    };

    evtSource.onopen = () => console.log("SSE connection opened");
    
    evtSource.onerror = function(event) {
      console.error("EventSource failed:", event);
    };

    // Clear logs on new prompt submit
    const form = document.getElementById("promptForm");
    form.addEventListener("submit", () => {
      ul.innerHTML = "";  // Clear the list
      running_state = true;
      document.getElementById("button").textContent = "Stop";
      showProcessing()
    });
  </script>
</body>

</html>
