<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Status Stream</title>
</head>
<body>
  <h1>Enter Prompt</h1>
  <form id="promptForm" method="POST" action="/" onsubmit="disableButton()">
    <input type="text" name="prompt" required>
    <select name="asset_project" id="folderSelect" style="padding: 6px;">
      {% for asset_project in asset_projects %}
        <option value="{{ asset_project }}" {% if asset_project == selected_asset_project %}selected{% endif %}>{{ asset_project }}</option>
      {% endfor %}
    </select>
    <button id="button">{{prompt}}</button>
  </form>
  


  <h1 id = "statusHeader">Status Updates</h1>
  <ul id="logContainer"></ul>

  <script>
    function disableButton() {
      document.getElementById("button").disabled = true;
      return true;
    }

    if ("{{clear_chat}}" === "true") {
      console.log("Clearing chat!")
      ul.innerHTML = "";  // Clear the list
    }

    const ul = document.getElementById("logContainer");
    const evtSource = new EventSource("/status_stream");

    let running_state = false;

    evtSource.onmessage = function(event) {
      console.log("<Receiving event>");
      try {
        const logEntry = JSON.parse(event.data);
        const message = logEntry.message;
        const type = logEntry.type;
        if (running_state === true){
          document.getElementById("button").textContent = "Stop";
        }
        else {
          document.getElementById("button").textContent = "Submit";
        }
        if (message === "Done"){
          running_state = false;
          return
        }
        console.log(message)
        const li = document.createElement("li");
        li.textContent = message;

        if (type === "italic") {
          console.log("Making italics...")
          li.style.fontStyle = "italic";
        }
        ul.prepend(li);

        
      } catch(e) {
        console.error("Failed to parse SSE data:", event.data, e);
      }
    };

    evtSource.onopen = () => console.log("SSE connection opened");
    
    evtSource.onerror = function(event) {
      console.error("EventSource failed:", event);
    };

    // Clear logs on new prompt submit
    const form = document.getElementById("promptForm");
    form.addEventListener("submit", () => {
      
      running_state = true;
    });
  </script>
</body>

</html>
